<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Market</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<!--HOME _PAGE-->
<!--NAV _BAR-->
<nav class="homeTitle-min navColor" style="height: 60px; padding-top: 6px">
    <div class="container-fluid">
        <a class="homeTitle-mg navbar-brand navbarX" href="/home">SEASON GREEN</a>
    </div>
</nav>

<div class="row" style="position: relative; left: 12px">
    <div class="row " style="height: 80vh;">


        <div>


                <div class="position mrg-tp" style="display: flex">
                    <p  style="font-size: 2rem; font-weight: normal; border-bottom: solid 3px gray">ADD CATEGORY</p>

                </div>

                <div class="position outline" style="height: 40vh; width: 60vw;">



                    <form action="/addCategory" method="post">

                        <div class=" outline" style="height: 70% ;width: 100%">
                            <label>
                                CATEGORY NAME:  <input type="text" name="categoryName">
                            </label>
                        </div>

                        <button type="submit"  class="confirmBtn">CONFIRM</button>
                    </form>
                    <form action="/market" method="post">
                        <button type="submit"  class="cancelBtn">CANCEL</button>
                    </form>
                </div>
            </div>

        </div>



</div>

</body>
</html>
