<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<!--HOME _PAGE-->

<!--NAV _BAR-->
    <nav class="homeTitle-min navColor" style="height: 60px; padding-top: 6px">
        <div class="container-fluid">
            <a class="homeTitle-mg navbar-brand navbarX" href="/home">SEASON GREEN</a>
            </div>
    </nav>
    <div class="row" style="position: relative; left: 12px">

<!--       SIDE LIST-->
        <div class=" sideMenu sideMenuMIN col-xl-3 col-lg-3 col-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
<!--&lt;!&ndash;            use id to append child add more category&ndash;&gt;-->
<!--             <div id="homeCategory">-->
<!--                 <button class="navBlock navBlock-lg">HOME</button>-->
<!--                 <button class="navBlock navBlock-lg">CAT1</button>-->
<!--             </div>-->
            <div class="home-sub-title market-cat-lg market-cat-md market-sideTitle" style="text-align: left">
                HOME
            </div>
            <div class="homeText-lg market-sideTitle2">
                CONTROL
                CENTER
            </div>
        </div>


<!--            CONTROL PANEL-->
        <div class="col-xl-9 col-lg-9 col-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="row" style="margin: 10%; height: 30vw; position: relative; right: 7vw">
                <div class="p1small col-lg-6 col-md-12">
<!--                    To make apply css both form and button should be applied.-->
                    <form action="/market" method="post" style="height: 95%">
                        <button type="submit" class="systemPanel" name="market">
                            MARKET
                        </button>
                    </form>

                </div>
                <div class="md-height p2small  col-lg-4  row col-md-12 ">
                    <form class="col-lg-12 col-md-6 col-sm-6 col-6 hg-middleButtonHeight heightHund " action="/toHistory" method="post" >
                        <button type="submit" id="history" class="p2Xsmall systemPanel2" name="history">
                            HISTORY
                        </button>
                    </form>

                    <form class="col-lg-12 col-md-6 col-sm-6 col-6 hg-middleButtonHeight heightHund" action="/category" method="post">
                        <button type="submit" class="p2Xsmall systemPanel3" name="category">
                            CATEGORY
                        </button>
                    </form>
                </div>
                <div class=" heightHund  col-lg-2 col-md-12">
                    <form class="systemPanel4 col-lg-12" action="/toSeller" method="post">
                        <button type="submit" class="systemPanel4 col-lg-1 heightHund" style="background: #ec992c;" name="seller">
                            SELLER
                        </button>
                    </form>
                </div>

            </div>

        </div>


    </div>


</script>
</body>
</html>
