
@media  screen and (max-width: 3000px){

    .topContainer{
        margin-top: 30px;
    }

    .outContainer{
        padding-top: 3%;
        padding-left: 3%;
    }

    .layout-adj{
        margin-bottom: 1%;
        display: flex;
    }

    .detail-box{
        margin-left: 4.3%;
        overflow: scroll;
        height: 56vh;
        width: 45vw;
    }

    .inputBox{
        margin-left: 11%;
        width: 20vw;
    }

    .option{
        margin-left: 5vw;
        width: 20vw;
        position: relative;
        right: 5px;
    }

    .imageInputBox{
        position: relative;
        right: 4px;
    }

    .sideText{
        text-align: center;
    }

    .pst1{
        position: relative;
        left: 52vw
    }

    .pst2{
        position: relative;
        left: 76%;
        bottom: 42px
    }
}

@media  screen and (max-width: 1770px){

    .topContainer{
        margin-top: 30px;
    }

    .outContainer{
        padding-top: 3%;
        padding-left: 3%;
    }

    .layout-adj{
        margin-bottom: 1%;
        display: flex;
    }

    .detail-box{
        margin-left: 4.3%;
        overflow: scroll;
        height: 56vh;
        width: 45vw;
    }

    .inputBox{
        margin-left: 11%;
        width: 20vw;
    }

    .option{
        margin-left: 5vw;
        width: 20vw;
        position: relative;
        right: 5px;
    }

    .imageInputBox{
        position: relative;
        right: 4px;
    }

    .sideText{
        text-align: center;
    }


    .pst1{
        position: relative;
        left: 52vw
    }

    .pst2{
        position: relative;
        left: 73%;
        bottom: 42px
    }
}

@media  screen and (max-width: 1500px){

    .topContainer{
        margin-top: 30px;
    }

    .outContainer{
        padding-top: 3%;
        padding-left: 1%;
    }

    .layout-adj{
        margin-bottom: 1%;
        display: flex;
    }

    .detail-box{
        margin-left: 1.3%;
        overflow: scroll;
        height: 56vh;
        width: 45vw;
    }

    .inputBox{
        margin-left: 7%;
        width: 20vw;
    }

    .option{
        margin-left: 5vw;
        width: 20vw;
        position: relative;
        right: 5px;
    }

    .imageInputBox{
        position: relative;
        right: 4px;
    }

    .sideText{
        text-align: center;
    }


    .pst1{
        position: relative;
        left: 52vw
    }

    .pst2{
        position: relative;
        left: 63%;
        bottom: 42px
    }
}


@media  screen and (max-width: 1080px){

    .topContainer{
        margin-top: 30px;
    }

    .outContainer{
        padding-top: 3%;
        padding-left: 3%;
    }

    .layout-adj{
        margin-bottom: 1%;
        display: flex;
    }

    .detail-box{
        margin-left: 4.3%;
        overflow: scroll;
        height: 56vh;
        width: 45vw;
    }

    .inputBox{
        margin-left: 11%;
        width: 20vw;
    }

    .option{
        margin-left: 5vw;
        width: 20vw;
        position: relative;
        right: 5px;
    }

    .imageInputBox{
        position: relative;
        right: 4px;
    }

    .sideText{
        text-align: center;
    }

    .pst1{
        position: relative;
        left: 60%
    }

    .pst2{
        position: relative;
        left: 10vw;
        bottom: 42px
    }

}

@media  screen and (max-width: 600px){

    .topContainer{
        margin-top: 30px;
    }

    .outContainer{
        padding-top: 3%;
        padding-left: 3%;
    }

    .layout-adj{
        margin-bottom: 1%;
        display: flex;
    }

    .detail-box{
        margin-left: 4.3%;
        overflow: scroll;
        height: 56vh;
        width: 45vw;
    }

    .inputBox{
        margin-left: 11%;
        width: 20vw;
    }

    .option{
        margin-left: 5vw;
        width: 20vw;
        position: relative;
        right: 5px;
    }

    .imageInputBox{
        position: relative;
        right: 4px;
    }

    .sideText{
        text-align: center;
    }

    .pst1{
        position: relative;
        left: 55%
    }

    .pst2{
        position: relative;
        left: 18%;
        bottom: 42px
    }
}
