<!-- homepage.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.umd.min.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.2.0/maptiler-sdk.css" rel="stylesheet" />
    <style>
        body { margin: 0; padding: 0; }
        #map { height: 400px; width: 100%; }
        footer { text-align: center; padding: 1rem 0; }
    </style>

    <!-- custom CSS -->
    <link rel="stylesheet" href="../css/homepage.css" />
</head>

<body>
    <!-- 1. Navbar -->
    <%- include('./nav/navbar') %>

    <!-- 2. Search -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br>

    <!-- 3. Carousel -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/Carousel1.png" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../img/Carousel2.png" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../img/Carousel3.png" class="d-block" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>

    <!-- 4. Content Section -->
    <div class="container mt-3">
        <!-- 4.1 Category -->
        <div class="category-section">
            <h2><span class="text-black">Our</span> <span class="text-green">Category</span></h2>
            <div class="row">
                <!-- Category items -->
                <!-- Repeat this col for each category item -->
                <div class="col mb-2">
                    <br>
                    <img src="../img/fruits&vegetables.png" alt="Category Item" class="img-fluid category-image">
                </div>
                <div class="col mb-2">
                    <br>
                    <img src="../img/snack&desserts.png" alt="Category Item" class="img-fluid category-image">
                </div>
                <div class="col mb-2">
                    <br>
                    <img src="../img/meat&seafood.png" alt="Category Item" class="img-fluid category-image">
                </div>
            </div>
        </div>
        <br>

        <!-- 4.2 Promotion -->
        <div class="container mt-3">
            <div class="promotion-section">
                <h2><span class="text-black">Best Price</span> <span class="text-green">Promotion</span></h2>
                <div class="card-container">
                    <!-- Card 1 -->
                    <div class="card">
                        <img src="../img/watermelon.jpg.avif" class="card-img-top" alt="Promotion Item 1">
                        <div class="badge bg-danger text-white ">Sale</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">My Choice Red Cherry</h5>
                            <p class="card-text">Today - 4 March 2024</p>
                            <p class="card-text">Price: $XX.XX</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="card">
                        <img src="../img/Organic Cos Lettuce.jpg.avif" class="card-img-top" alt="Promotion Item 1">
                        <div class="badge bg-danger text-white ">Sale</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">My Choice Red Cherry</h5>
                            <p class="card-text">Today - 4 March 2024</p>
                            <p class="card-text">Price: $XX.XX</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="card">
                        <img src="../img/Aus 150 days Grain Fed rib eye.jpg.avif" class="card-img-top"
                            alt="Promotion Item 1">
                        <div class="badge bg-danger text-white ">Sale</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">My Choice Red Cherry</h5>
                            <p class="card-text">Today - 4 March 2024</p>
                            <p class="card-text">Price: $XX.XX</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="card">
                        <img src="../img/salmon.jpg.avif" class="card-img-top" alt="Promotion Item 1">
                        <div class="badge bg-danger text-white ">Sale</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">My Choice Red Cherry</h5>
                            <p class="card-text">Today - 4 March 2024</p>
                            <p class="card-text">Price: $XX.XX</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <!-- Card 5 -->
                    <div class="card">
                        <img src="../img/Lays Classic Potato Salt.jpg.avif" class="card-img-top" alt="Promotion Item 1">
                        <div class="badge bg-danger text-white ">Sale</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">My Choice Red Cherry</h5>
                            <p class="card-text">Today - 4 March 2024</p>
                            <p class="card-text">Price: $XX.XX</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    <!-- Card 6 -->
                    <div class="card">
                        <img src="../img/Haribo Goldbears Gummy.jpg.avif" class="card-img-top" alt="Promotion Item 1">
                        <div class="badge bg-danger text-white ">Sale</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">My Choice Red Cherry</h5>
                            <p class="card-text">Today - 4 March 2024</p>
                            <p class="card-text">Price: $XX.XX</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- 5. Footer -->
    <%- include('./nav/footer') %>

</body>

</html>