<!-- listByCategory.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of <%= listTitle %> Items</title>
</head>
<body>
    <h1>List of <%= listTitle %> Items</h1>
    <ul>
        <% items.forEach(function(item) { %>
            <li><%= item.name %> - <%= item.price %></li>
        <% }); %>
    </ul>
</body>
</html>
