<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login Page</title>
</head>

<body>
    <div class="login-container">
        <h2 class="login-title">LOGIN</h2>
        <form action="/login" method="post">
            <div class="form-input">
                <input type="email" name="email" placeholder="enter your email" required>
            </div>
            <div class="form-input">
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-input">
                <button type="submit" class="form-button">LOGIN NOW</button>
            </div>
            <div class="form-footer">
                <span>Don't have an account?<a href="../html/register.html">  Register now</a></span>
            </div>
        </form>
    </div>
</body>

</html>